<%= form_with(model: game, local: true, id: 'game-form') do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h3>We couldn't generate your game...</h3>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :player_to_factions_array, 'Choose Player Factions' %><br>

    <div class="faction-options-wrapper row">
      <%=
        form.collection_check_boxes(:player_to_factions_array,
          WarOfWhispers.players_map.to_a.map{|a| [a.first, a.last.transform_keys{|k| "data-#{k}"}] },
          :first,
          :last) do |b|
            content_tag(:div, class: 'faction-option col-md-3 col-6') do
              b.check_box + b.label{ content_tag(:span, b.text["data-name"], class: 'faction-name') + tag(:br) + image_tag(b.text["data-image"], class: 'faction-image') }
            end
          end
      %>
    </div>
  </div>

  <div class="field">
    <%= form.label :shuffle_method, 'Choose a Method for Shuffling Loyalties' %><br>
    <%=
      form.collection_radio_buttons(:shuffle_method,
        t('activerecord.attributes.game.shuffle_methods').invert,
        :last,
        :first) do |b|
          content_tag(:div, class: 'shuffle-option col-12 text-left') do
            b.label(class: 'd-flex'){ b.radio_button(class: 'mt-1 mb-auto') + content_tag(:span, b.text, class: 'ml-3') }
          end
        end
    %>
    <%#= form.select :shuffle_method, t('activerecord.attributes.game.shuffle_methods').invert %><br><br>
    <%= link_to 'Shuffling Methods Explanation', help_page_path, target: '_blank', class: 'text-white' %>
  </div>

  <div class="actions mt-5">
    <%= form.submit value: 'Generate Game', class: 'btn btn-success' %>

    <%= link_to 'Cancel', root_path, class: 'btn btn-outline-danger' %>
  </div>
<% end %>
