<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>War Of Whispers Loyalty Generator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <div class="container py-5 d-flex flex-column h-100 align-items-center">

      <div class="content-wrapper flex-1 text-center">
        <%= yield %>
      </div>

      <footer class="py-3 mt-auto text-center">

        <%= yield :footer %>

        <p>
          Website By Hanan Amar
          |
          <%= link_to 'GitHub', 'https://github.com/hananamar/war-of-whispers', target: '_blank' %>


        </p>

        <p>
          <small>
            War of Whispers was designed by Jeremy Stoltzfus, and published by Starling Games.<br> All rights to the game and/or its design are reserved.<br>
            This site and/or any of its functions were created for personal use only, and do not intend to infringe apon those rights.
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>
